@charset "UTF-8";


/* form styling */
#formcol1 li {
    list-style:none;
}

#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
}

label {
    margin-right: .3em;
width: 5em;
display: inline-block
}

input:required:invalid {
    background-color: #FFE4E1; /* Change the background color to a light pink shade */
}


/* end of form css */
	
